img {
    display: block;
    margin: auto;
    width: 50%;
}

h4 {
	text-align: center;
	font-size: 32;
	 font-family: "Raleway";
    font-weight: 300;
    color: #333;

}
p {
    line-height: 28px;
    margin-bottom: 25px;
    text-align: justify;
}